// flag icons
$flag-icon-css-path: '../images' !default;
$flag-icon-rect-path: '/4x3' !default;
$flag-icon-square-path: '/1x1' !default;


// colours
$grey-dark: #262626;
$grey-middle: #424242;
$grey-light: #515151;


// individual cells

$cell-min-height:300px;
$cell-padding:6px;
$cell-inner-padding:6px;


.clearfix {
	content:'';
	display: table;
	clear:both;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


// media queries
$below-1680: "only screen and (max-width : 1680px)";
$below-1280: "only screen and (max-width : 1280px)";
