<div class="cell cell-5" id="betslip">
		<div class="inner-slip">

			<ul class="tabs">
				<li class="active">
					<a href="#tab-1">
						Active
					</a>
				</li>
				<li>
					<a href="#tab-2">
						Open
					</a>
				</li>
				<li>
					<a href="#tab-3">
						Settled
					</a>
				</li>
			</ul>

			<div class="tab-pane">
				<div id="tab-1" class="tab open">

					<div class="row bet-row">
						<div class="left">
							<i class="entypo-cancel"></i>
						</div>
						<div class="right">
							Middlesbrough vs Arsenal <br/>
							<ul>
								<li class="market-odds">
									<span class="left">Match Result</span>
									<span class="right">@ 1.52</span>
								</li>
								<li class="sel-stake">
									<span class="left">Middlesbrough to Win</span>
									<span class="right">£5.00</span>
								</li>
							</ul>
						</div>
					</div><!-- row -->

					<div class="row bet-row">
						<div class="left">
							<i class="entypo-cancel"></i>
						</div>
						<div class="right">
							Manchester United vs Chelsea <br/>
							<ul>
								<li class="market-odds">
									<span class="left">Match Result</span>
									<span class="right">@ 2.02</span>
								</li>
								<li class="sel-stake">
									<span class="left">Draw</span>
									<span class="right">£1.50</span>
								</li>
							</ul>
						</div>
					</div><!-- row -->

					<div class="row bet-row">
						<div class="left">
							<i class="entypo-cancel"></i>
						</div>
						<div class="right">
							Middlesbrough vs Arsenal <br/>
							<ul>
								<li class="market-odds">
									<span class="left">Match Result</span>
									<span class="right">@ 1.52</span>
								</li>
								<li class="sel-stake">
									<span class="left">Middlesbrough to Win</span>
									<span class="right">£5.00</span>
								</li>
							</ul>
						</div>
					</div><!-- row -->

					<div class="row">
						<div class="left">

							<ul>
								<li>
								         	<span class="small">
								         		My Account
								         	</span>
								         	<span class="large">
								         		£23.00
								         	</span>
								</li>
								<li>
								         	<span class="small">
								         		Active Bets Total
								         	</span>
								         	<span class="large">
								         		£20.00
								         	</span>
								</li>
								<li>
								         	<span class="small">
								         		Possible Winnings
								         	</span>
								         	<span class="large">
								         		£123.00
								         	</span>
								</li>
							</ul>

						</div>
						<div class="right">
							<div id="ct-chart-2" class="bet-chart"></div>
						</div>
					</div><!-- row -->

					<div class="row">

						<a href="#_" id="place-bet">Place Bet</a>

					</div>

				</div><!-- tab 1 -->
				<div id="tab-2" class="tab">

					<div class="row bet-row">
						<div class="left">
							<i class="entypo-cancel"></i>
						</div>
						<div class="right">
							Chelsea vs Tottenham <br/>
							<ul>
								<li class="market-odds">
									<span class="left">Match Result</span>
									<span class="right">@ 1.52</span>
								</li>
								<li class="sel-stake">
									<span class="left">Tottenham to Win</span>
									<span class="right">£5.00</span>
								</li>
							</ul>
						</div>
					</div><!-- row -->

					<div class="row bet-row">
						<div class="left">
							<i class="entypo-cancel"></i>
						</div>
						<div class="right">
							Chelsea vs Tottenham <br/>
							<ul>
								<li class="market-odds">
									<span class="left">Match Result</span>
									<span class="right">@ 1.52</span>
								</li>
								<li class="sel-stake">
									<span class="left">Tottenham to Win</span>
									<span class="right">£5.00</span>
								</li>
							</ul>
						</div>
					</div><!-- row -->

					<div class="row bet-row">
						<div class="left">
							<i class="entypo-cancel"></i>
						</div>
						<div class="right">
							Manchester United vs Chelsea <br/>
							<ul>
								<li class="market-odds">
									<span class="left">Match Result</span>
									<span class="right">@ 2.02</span>
								</li>
								<li class="sel-stake">
									<span class="left">Draw</span>
									<span class="right">£1.50</span>
								</li>
							</ul>
						</div>
					</div><!-- row -->

					<div class="row bet-row">
						<div class="left">
							<i class="entypo-cancel"></i>
						</div>
						<div class="right">
							Middlesbrough vs Arsenal <br/>
							<ul>
								<li class="market-odds">
									<span class="left">Match Result</span>
									<span class="right">@ 1.52</span>
								</li>
								<li class="sel-stake">
									<span class="left">Middlesbrough to Win</span>
									<span class="right">£5.00</span>
								</li>
							</ul>
						</div>
					</div><!-- row -->

					<div class="row bet-row">
						<div class="left">
							<i class="entypo-cancel"></i>
						</div>
						<div class="right">
							Manchester United vs Chelsea <br/>
							<ul>
								<li class="market-odds">
									<span class="left">Match Result</span>
									<span class="right">@ 2.02</span>
								</li>
								<li class="sel-stake">
									<span class="left">Draw</span>
									<span class="right">£1.50</span>
								</li>
							</ul>
						</div>
					</div><!-- row -->

					<div class="row bet-row">
						<div class="left">
							<i class="entypo-cancel"></i>
						</div>
						<div class="right">
							Middlesbrough vs Arsenal <br/>
							<ul>
								<li class="market-odds">
									<span class="left">Match Result</span>
									<span class="right">@ 1.52</span>
								</li>
								<li class="sel-stake">
									<span class="left">Middlesbrough to Win</span>
									<span class="right">£5.00</span>
								</li>
							</ul>
						</div>
					</div><!-- row -->




				</div><!-- tab 2-->
				<div id="tab-3" class="tab">
					<div class="row bet-row">
						<div class="left">
							<i class="entypo-cancel"></i>
						</div>
						<div class="right">
							Chelsea vs Tottenham <br/>
							<ul>
								<li class="market-odds">
									<span class="left">Match Result</span>
									<span class="right">@ 1.52</span>
								</li>
								<li class="sel-stake">
									<span class="left">Tottenham to Win</span>
									<span class="right">£5.00</span>
								</li>
							</ul>
						</div>
					</div><!-- row -->
					<div class="row bet-row">
						<div class="left">
							<i class="entypo-cancel"></i>
						</div>
						<div class="right">
							Middlesbrough vs Arsenal <br/>
							<ul>
								<li class="market-odds">
									<span class="left">Match Result</span>
									<span class="right">@ 1.52</span>
								</li>
								<li class="sel-stake">
									<span class="left">Middlesbrough to Win</span>
									<span class="right">£5.00</span>
								</li>
							</ul>
						</div>
					</div><!-- row -->

					<div class="row bet-row">
						<div class="left">
							<i class="entypo-cancel"></i>
						</div>
						<div class="right">
							Middlesbrough vs Arsenal <br/>
							<ul>
								<li class="market-odds">
									<span class="left">Match Result</span>
									<span class="right">@ 1.52</span>
								</li>
								<li class="sel-stake">
									<span class="left">Middlesbrough to Win</span>
									<span class="right">£5.00</span>
								</li>
							</ul>
						</div>
					</div><!-- row -->


					<div class="row bet-row">
						<div class="left">
							<i class="entypo-cancel"></i>
						</div>
						<div class="right">
							Chelsea vs Tottenham <br/>
							<ul>
								<li class="market-odds">
									<span class="left">Match Result</span>
									<span class="right">@ 1.52</span>
								</li>
								<li class="sel-stake">
									<span class="left">Tottenham to Win</span>
									<span class="right">£5.00</span>
								</li>
							</ul>
						</div>
					</div><!-- row -->
				</div><!-- tab 3 -->
			</div><!-- tab pane -->

		</div>

	</div> <!-- betslip -->
