<div class="link-panel">
	<div class="lp-inner">
		<div class="copyright">
			&copy;<span class="currentYear"><%=new Date().getFullYear()%></span>MyBet<br />
			<div id="clock-date" class="clock">loading...</div>
		</div>
		<div class="regulator-icons">
			<img title="18+"  height="25" src="images/over18.png" />
			<img title="Responsible Gaming" height="25" src="images/stopgambling.png" />
		</div>
		<div class="social-icons">
			<a><i class="icon-facebook"></i></a>
			<a><i class="icon-twitter"></i></a>
		</div>
	</div>
</div>
