<header id="header-main" class="header-main include">
    <nav>
        <div class="nav-global">
            <a href="#"><h1><?=POKERSTARS?></h1></a>
            <div class="show-menu" role="button"><i class="icon-bars"></i></div>
            <ul>
                <li><a href=""><?=POKER?></a></li>
                <li><a href=""><?=CASINO?></a></li>
                <li><a href="" class="active"><?=SPORTS?></a></li>
            </ul>
            <div id="user-logged-out" class="user sign-in-cta">

                <a href="#" class="btn signInDrop"><?=SIGN_IN?></a>
                <a href="#" id="registerBtn" class="btn register"><?=REGISTER?></a>

                <div class="signInForm">
                    <form method="post" action="" class="login-form">
                        <div class="fields">
                            <input name="username" type="text" placeholder="<?=USERNAME?>" autocomplete="off">
                            <input name="password" type="password" placeholder="<?=PASSWORD?>" autocomplete="off">
                        </div>
                        <a href="#" id="loginButtonSubmit" class="submit btn" type="submit"><?=SIGN_IN?></a>
                    </form>
                    <p><a href="#_"><?=FORGOTTEN_PASSWORD?></a><span><?=SIGNING_IN?><i class="icon-spinner"></i></span></p>
                </div>
            </div>
            <div id="user-logged-in" class="user logged-in" style="display: none;">
                <!--<a href="#" class="details" title="<?=ACCOUNT?>"></a>-->
                <a href="#" class="depositBtn" title="<?=DEPOSIT?>"><i class="icon-gbp"></i></a>
                <a href="#" id="messagesBtn" class="messagesBtn" title="<?=MESSAGES?>"><i class="icon-cog"></i></a>
                <a href="#" id="accountsBtn" class="messagesBtn"  title="Accounts"><i class="icon-envelope"></i></a>
                <a href="#" class="logoutBtn logout" title="<?=LOGOUT?>"><i class="icon-sign-out"></i></a>
            </div>

            <div class="global-clock">
                <div id="clock-date" class="clock"><?=LOADING?></div>
            </div>

            <ul class="locale-drop">
                <li><a id="englishLocale"><span class="flag en"></span>English<i class="icon-angle-down"></i></a>
                    <ul>
                        <li><a id="deutschLocale">German<span class="flag de"></span></a></li>
                        <li><a id="norwegianLocale">Norwegian<span class="flag de"></span></a></li>
                        <li><a id="espanolLocale">Spanish<span class="flag de"></span></a></li>
                        <li><a id="espanol419Locale">Spanish Latin<span class="flag de"></span></a></li>
                        <li><a id="ruLocale">Russian<span class="flag de"></span></a></li>
                        <li><a id="finnishLocale">Finnish<span class="flag de"></span></a></li>
                        <li><a id="swedishLocale">Swedish<span class="flag de"></span></a></li>
                        <li><a id="czechLocale">Czech<span class="flag de"></span></a></li>
                        <li><a id="frenchLocale">French<span class="flag de"></span></a></li>
                        <li><a id="hungarianLocale">Hungarian<span class="flag de"></span></a></li>
                    </ul>
                </li>
            </ul>



            <ul class="price-drop">
                <li class="morePrices"><a id="decimalPrice"><?=DECIMAL?><i class="icon-angle-down"></i></a>
                    <ul>
                        <li><a id="fractionalPrice"><?=FRACTIONAL?></a></li>
                        <li><a id="americanPrice"><?=AMERICAN?></a></li>
                    </ul>
                </li>
            </ul>

        </div><!-- nav global -->

        <div class="nav-main">

            <div class="nav-wrapper">
                <div class="nav-main-container">


                    <ul class="sportsList">

                        <% var homeActive = sport == '' ? 'active' : ''%>
                        <li class="<%=homeActive%> home sportsList__item -home">
                            <a href="#" class="sportsList__link">
                                <i class="icon-home-4"></i>
                                <span class="sportsList__label"><?=HOME?></span>
                            </a>
                        </li>

                        <% var topSports = _.first(sports, 6); %>
                        <% _.each(topSports, function(s) { %>
                            <% var active = s.sport.toLowerCase() == sport.toLowerCase() ? 'active' : '' %>
                            <% var title =  s.title.replace(" ", "_");%>
                            <li class="<%= active %> sportsList__item">
                                <a href="#<%=s.sport.toLowerCase()%>" class="sportsList__link">
                                    <i class="<%= s.icon %>"></i>
                                    <span class="sportsList__label"><?=App.translator.translate((title).toUpperCase())?></span>
                                </a>
                            </li>
                        <% }) %>

                        <li class="-AZ sportsList__item">
                            <a id="showExtendedMenu" class="sportsList__link">
                                <i id="toggle" class="icon-menu-bars"></i>
                                <span class="sportsList__label"><?=AZ_SPORTS?></span>
                            </a>
                        </li>
                    </ul>

                </div><!-- nav main container -->
            </div>


            <!-- A-Z list of sports -->
            <div id="extendedMenu" style="display:none;">
                <ul>
                    <%
                    sports.sort(function(a, b) {
                        var textA = a.title.toUpperCase();
                        var textB = b.title.toUpperCase();
                        return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
                    });
                    %>
                    <% _.each(sports, function(s) { %>
                    <li class="extendedMenu__item">
                        <% var title =  s.title.replace(" ", "_");%>
                        <a href="#<%=s.sport.toLowerCase()%>"><?=App.translator.translate((title).toUpperCase())?></a>
                    </li>
                    <% }) %>
                </ul>
                <p class="extendedMenu__notice"><?=MORE_SPORTS?></p>
            </div>

            <div id="js__contextualNavigation" class="subnav-wrapper main-content-wrap">
                <div class="subnav-container <%=(isTouch) ? 'touch' : '' %>"></div>
            </div>
        </div>

        <div class="left-sidebar-toggle"><a href=""><i class="icon-angle-left"></i>Back</a></div>

    </nav>
</header>
