<div class="wrapper-page">
    <div id="header-main" class="header-main"></div>
    <div id="header-football"></div>
    <div class="container-main main-content-wrap">
        <div class="container-main__wrap">
            <aside id="content-side-panel-1" class="include"></aside>
            <main id="content-main"></main>
            <aside id="content-side-panel-3" class="include"></aside>
        </div>
        <aside id="content-side-panel-2">
            <div id="IPVpanel"></div>
            <div id="bet-slip-panel"></div>
        </aside>
    </div>
</div>
<div id="footer-main-panel"></div>
