<div id="header">
	<div class="container">
		<a href="http://www.mybet.de" class="logo">myBet</a><!-- logo -->
		<div id="top-nav">
			<ul>
				<li>
					<a href="/">
						Sportsbook
					</a>
				</li>
				<li>
					<a href="/account">
						My Account
					</a>
				</li>
				<li>
					<a href="/wallet">
						My Wallet
					</a>
				</li>
			</ul>
		</div><!-- nav -->
	</div><!-- container -->
</div><!-- header -->


<div class="headerImg">
	<div class="cover"></div>
</div>
<div class="hero-area">
	<div class="container">
		<h1>Knowledge. Power. <br/>Betting.</h1>
	</div>
</div>
