<ul class="bet-selections add-to-list system">
    <li>
        <div>
            <p class="returnsText">Potential win: <span>Stake per bet</span></p>
            <label class="stake">
                <input id="bet-stake-input" type="number" value="0" min="0"/>
            </label>
            <div class="returnsRow no-pad-left">
                <p class="returnsText">Potential win: <span name="bet-currencySymbol"> <%= currencySymbol %></span></p>
                <div class="returns"><span>0</span></div>
            </div>
        </div>
    </li>
</ul>
