<div class="betslip promo-banner1">

    <div class="caption">
        <h3><?=PROMO1_HEADER?></h3>
        <p><?=PROMO1_PARA1?></p>
    </div>

    <a href="" class="btn"><?=PLAY_NOW?></a>

</div>


<div class="betslip promo-banner2">
    <div class="caption">
        <h3><?=PROMO2_HEADER?></h3>
        <p><?=PROMO2_PARA1?></p>
    </div>

    <a href="" class="btn"><?=SEE_MORE?></a>

</div>


<!--
<div class="betslip promo-banner3">
    <div class="caption">
        <h3><?=PROMO3_HEADER?></h3>
        <p><?=PROMO3_PARA1?></p>
    </div>

    <a href="" class="btn"><?=SEE_MORE?></a>

</div>
-->

